<!DOCTYPE html>
<html ng-app="cz.uhk.szz.results">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UHK SZZ</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="app.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
</head>
<body ng-controller="ResultCalculatorCtrl as self">
  <div class="main center-block">
    <h1>UHK SZZ kalkulačka</h4>
    <div class="r-x">
      Známek: {{self.grades.length}} 
      <button class="btn btn-sm btn-plusminus" ng-click="self.removeGrade()"><span class="glyphicon glyphicon-minus"></span></button>
      <button class="btn btn-sm btn-plusminus" ng-click="self.addGrade()"><span class="glyphicon glyphicon-plus"></span></button>
      <span class="chck">
        <label>
          <input type="checkbox" ng-model="self.numericButtons" ng-change="self.numericButtonsChanged()"> A/1
        </label>
      </span>
    </div>
    <div class="r" ng-repeat="grade in self.grades track by $index">
      <div class="btn-group btn-group-justified" ng-class="{grpdefence: ($index == self.grades.length-1)}">
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="1.0">{{self.getPrimaryGrade(1.0)}}</label>
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="1.5">{{self.getPrimaryGrade(1.5)}}</label>
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="2.0">{{self.getPrimaryGrade(2.0)}}</label>
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="2.5">{{self.getPrimaryGrade(2.5)}}</label>
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="3.0">{{self.getPrimaryGrade(3.0)}}</label>
        <label class="btn btn-grade" ng-model="grade.num" btn-radio="4.0">{{self.getPrimaryGrade(4.0)}}</label>
        <span class="btn-group-label">
            <span ng-show="$index != self.grades.length-1">Př. {{$index+1}}</span>
            <span ng-show="$index == self.grades.length-1">Obh.</span>
            <span class="badge">
              <span ng-show="grade.num != 0">{{self.getSecondaryGrade(grade.num)}}</span>
              <span ng-show="grade.num == 0">?</span>
            </span>
        </span>
      </div>
    </div>
    
    <div class="r-x clearfix">
      <div class="pull-left">
        <div>
          Průměr: 
          <span class="badge">
            <span ng-show="self.avg() != null">{{self.avg() | number : 2}}</span>
            <span ng-show="self.avg() == null">?</span>
          </span></div>
        <div>
          Nejhorší: 
          <span class="badge">
            <span ng-show="self.worst() != null">{{self.worst() | number : 1}} {{self.gradeNum2Alpha[self.worst()]}}</span>
            <span ng-show="self.worst() == null">?</span>
          </span>
        </div>
      </div>
      <div class="pull-right final-grade">
        Výsl. známka: 
        <span class="badge">
          <span ng-show="self.result() != null">{{self.result() | number : 1}} {{self.gradeNum2Alpha[self.result()]}}</span>
          <span ng-show="self.avg() == null">?</span>
        </span>
      </div>
    </div>
    <hr>
    <div class="r">
      Dle zkuš. řádu UHK 1.&nbsp;9.&nbsp;2015 <br>
      <a href="mailto:pavel.kriz@uhk.cz">Pavel Kříž</a>, verze 1.0.1 <a href="https://github.com/pavkriz/szz">GitHub</a>.
    </div>
  </div>    
</body>
</html>